<h1>Perfumes Management</h1><br>

<mat-form-field class="searchProd">
  <input matInput type="text" (input)="byname.value = byname.value.toUpperCase()" (keyup)="searchName(byname.value)" 
  class="form-control" placeholder="Search by product name" #byname name="byname" />
  <button mat-button matSuffix  mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<mat-form-field class="searchProd">
  <mat-label>Category...</mat-label>
  <mat-select #bycategory name="bycategory">
    <mat-option (click)="searchCategory('')">Show all</mat-option>
    <mat-option *ngFor="let category of categoryList" value="category" (click)="searchCategory(category)">
      {{category}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<div class="cards" style="padding: 5px;">
  <mat-spinner *ngIf="dataSource.length === 0"></mat-spinner>

  <mat-card class="card" *ngFor="let product of dataSource, let i=index">
    <mat-card-header>
      <mat-card-title>{{product.prodname}}</mat-card-title>
    </mat-card-header>
    <small>{{product.category}}</small>
    <img mat-card-image src="{{ product.urlpicture }}" alt="Photo of a Product">
    <mat-label></mat-label>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
          <b>cost : {{product.cost}} $ </b>
          </mat-panel-title>
          <mat-panel-description>
            more info ...
          </mat-panel-description>
        </mat-expansion-panel-header>
    
    <p>{{product.description}}</p>
      </mat-expansion-panel>
     
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="editSelectedProduct(product)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="openDialogForConfirmDeletion(product)">
        <mat-icon>delete</mat-icon>
      </button>
  
        </mat-card-actions>
  </mat-card>

</div>
