h1 {
  text-align: center;
  display: inline;
  font-weight: bolder;
  color: rgb(64, 64, 223);
  margin-left: 10px;
}

.cards {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
}

mat-card {
  position: relative;
  margin: 5px;
  max-width: 320px;
  min-width: 280px;
}

mat-card-actions {
  text-align: center;
}

.addOrderConteiner {
  display: inline;
}

.example-part-width {
  width: 100%;
  margin: 5px 3px 0 3px;
  padding: 0 3x 0 3px;
}

.message {
  border: 1px solid purple;
  border-radius: 3px;
  background-color: purple;
  box-shadow: 3px 3px 3px rgb(70, 69, 69);
  font-size: large;
  font-weight: bolder;
  color: greenyellow;
  padding: 10px;
  width: 400px;
}

.mat-raised-button:hover {
  transition: 1s;
  opacity: 0.5;
}
.mat-mini-fab:hover{
  transition: 1s;
  transform: scale(1.1);
}