<div>
  <h1>About Perfume Web Shop site</h1>

  <div class="aboutList">

    <p>The web site is a project in iNT colledge on Fullstack course. The ide for project implementation is web shop
      site for Perfume selling.mat-form-field.<br>
      Here used own API server and DataBase as part of the project. Were used some technologies based on Angular, C# and
      SQL.<br>
      The Client web site based on Angular Material, The Server site based on C# that support CORD request to SQL
      Database.<br>
    </p>
    <mat-list role="list">
      <mat-label>Sevices :</mat-label>
      <mat-list-item role="listitem"><small> 1. the user authorization mechanizm with social logins like Google</small>
      </mat-list-item>
      <mat-list-item role="listitem"> <small> 2. the authorization guard service</small></mat-list-item>
      <mat-list-item role="listitem"> <small> 3. Routes usage</small></mat-list-item>
      <mat-list-item role="listitem"> <small> 4. services for API requests from SQL</small></mat-list-item>
      <mat-list-item role="listitem"> <small> 5. service for supporting customer's order</small></mat-list-item>
    

    </mat-list>

    <p> Angular Componets :</p>
    <small> LoginComponent -- with social login too</small>
    <small> MainComponent : </small>
    <small> -- AboutComponent - about the web site and more</small>
    <small> -- ContactsComponent - about me </small>
    <small> -- FooterComponent - footer </small>

  </div>
</div>
