
 

  <div class="aboutList">
 <h1>About Perfume Web Shop site</h1>
    <p>The web site is a project in iNT college on the Fullstack course. <br>
      The ide for project implementation is the webshop site for perfume selling.<br>
      Here used own API server and DataBase as part of the project. Were used some technologies based on Angular, C# and
      SQL.<br>
      The Client web site based on Angular Material, The Server site based on C# that supports CORD request to SQL
      Database.<br>
      The web site has two major parts, one for buyers and second for site content management.<br>
      The buyer has access to the perfumes catalog, can select any perfume for a future order that he will add into his
      cart.<br>
      Also has access to cart for cancel, change items amount or confirm orders.<br>
      Also has possibility to make a registration for subscribing in the website shop.<br>
      For the manger site part, he should log in as manager.<br>
      The manager can organize the perfumes list by adding editing or deleting.<br>
      Also has access for manage orders list, users list.
      
    </p>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <mat-label>Common Features for buyers:</mat-label>
      <mat-list-item role="listitem"> Perfumes list for selection and adding into cart
      </mat-list-item>
      <mat-list-item role="listitem"> Cart site for edit amount of items and starting or canceling
          order
        </mat-list-item>
      <mat-list-item role="listitem"> Order site for edit the order, customers details as name phone address
          and etc
        </mat-list-item>
      <mat-list-item role="listitem"> Registration site for adding customers for subscribing in the website
          shop
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-label>Common Features for managment:</mat-label>
      <mat-list-item role="listitem">  Perfumes list editor ( add, delete and edit options) 
      </mat-list-item>
      <mat-list-item role="listitem">  Orders list editor ( add, delete and edit options) 
        </mat-list-item>
      <mat-list-item role="listitem">  Orders list viewer delivery statuses, adding notes , wishes for buyer 
        </mat-list-item>
      <mat-list-item role="listitem">  Users list editor ( add, delete, edit and send messages options) 
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-label>Services:</mat-label>
      <mat-list-item role="listitem">  1. the user authorization mechanizm with social logins like
          Google 
      </mat-list-item>
      <mat-list-item role="listitem">   2. the authorization guard service </mat-list-item>
      <mat-list-item role="listitem">   3. Routes usage </mat-list-item>
      <mat-list-item role="listitem">   4. services for API requests from SQL </mat-list-item>
      <mat-list-item role="listitem">   5. service for supporting customer's order </mat-list-item>
   </mat-list>

  </div>
