<div>
  <h1>About Perfume Web Shop site</h1>

     <div class="aboutList">

  <p>The site , API server and DataBase were build as project that contain some technologies based on Angular,
     C# and SQL.<br>
     The Client web site based on Angular Material, The Server site based on C# and support CORD request with SQL service.
     </p>
     <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>

      <hr>
      <h4> Sevices and Features:</h4>
      <small> 1. the user authorization mechanizm with social logins like Google</small>
      <small> 2. the authorization guard service</small>
      <small> 3. has Routes usage</small>
      <small> 4. some services for get API results from SQL</small>
      <small> 5. service for supporting customer's order</small>

      <p> Angular Componets :</p>
      <small> LoginComponent -- with social login too</small>
      <small> MainComponent : </small>
      <small> -- AboutComponent - about the web site and more</small>
      <small> -- ContactsComponent - about me </small>
      <small> -- FooterComponent - footer </small>
  
    </div>
</div>