.example-part-width {
  margin: 10px;
  display: inline;
}

form {
  min-height: 90vh;
}

h1 {
  text-align: center;
  display: inline;
  font-weight: bolder;
  color: rgb(64, 64, 223);
  margin-left: 10px;
}

.mat-raised-button:hover {
  transition: 1s;
  opacity: 0.5;
}
