<h1>  Cart Details</h1><br>
<button mat-raised-button color="primary" (click)="goBack()">GO BACK</button>
<button mat-raised-button color="accent" (click)="goToOrder()">DO ORDER</button><br>
<div class="totalSumDisplay"><h3><b>TOTAL SUM : {{Total()}} $</b></h3></div>
<div class="card-columns" style="padding: 13px;">

  <mat-card class="example-card" *ngFor="let cartDetail of cartPerfumeList" style="margin:10px;">
    <mat-card-header>
      <mat-card-title>{{cartDetail.elem.prodname}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ cartDetail.elem.urlpicture }}" alt="Photo of a Product">
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
      <b>COST : {{cartDetail.elem.cost}} $ </b>
          </mat-panel-title>
          <mat-panel-description>
            more info ...
          </mat-panel-description>
        </mat-expansion-panel-header>
       <p>
        {{cartDetail.elem.description}}
      </p>
      </mat-expansion-panel> 
    </mat-card-content> 
    <mat-divider></mat-divider>
    <mat-card-actions >
      <!-- actiions -->
      <button mat-mini-fab color="warn" (click)="cartDetail.quantity=cartDetail.quantity-1"
        [disabled]="cartDetail.quantity==0">
        <mat-icon>remove</mat-icon>
      </button>
      <mat-label style="margin:10px;"><b> {{cartDetail.quantity}} items </b></mat-label>
      <button mat-mini-fab color="primary" (click)="cartDetail.quantity=cartDetail.quantity+1">
        <mat-icon>add</mat-icon>
      </button><br>
      <mat-label><b>SUM : {{cartDetail.elem.cost*cartDetail.quantity}} $ </b></mat-label><br>
    </mat-card-actions>
  </mat-card>



