.mat-list {
  max-width: 400px;
  height: 250px;
  border: solid 2px white;
  border-radius: 5px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

.example-button-row .mat-button-base {
  margin: 5px;
}

h1 {
  text-align: center;
  display: inline;
  font-weight: bolder;
  color: rgb(64, 64, 223);
  margin-left: 10px;
}


mat-card {
  display: inline-block;
  margin-bottom: 10px;
  overflow: unset;
}
table {
  width: 100%;
}
.mat-stroked-button{
  margin-right: 5px;
}