
  h1{
    text-align: center;
    display: inline;
    font-weight: bolder;
    color:rgb(64, 64, 223);
 margin-left: 10px;
 }

 mat-card {
  position: relative;
  margin: 5px;
  max-width: 320px;
  min-width: 280px;
}

.cards {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
}

 mat-label{
     padding: 2px;
     margin-top: 3px;
 }
 