.example-card {
    max-width: 400px;
  }
  div{
      display: inline-flex; 
      /* min-height: 90vh; */
  }

  .example-button-row {
    display: flex;
    justify-content: center;
  
  }
  .example-button-row .mat-button-base {
    margin: 5px;
  }
  h2{
    text-align: center;
    display: inline;
    margin-left: 20%;
  }