mat-card {
  position: relative;
  margin: 5px;
  max-width: 320px;
  min-width: 280px;
}

.cards {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
}

mat-form-field {
  margin-right: 10px;
}

mat-list-item mat-icon {
  margin-right: 2px;
}

.example-button-row {
  display: flex;
  justify-content: center;
}

.example-button-row .mat-button-base {
  margin: 5px;
}

h2 {
  text-align: center;
  display: inline;
  margin-left: 20%;
}
