<h1>Orders Management - Table view</h1><br>
<h3>Current Balance - <b>{{this.totalBalance()}} $</b> </h3><br>
<mat-form-field class="searchOrder">
  <input matInput type="text" (keyup)="searchOrder(byorder.value)" class="form-control"
    placeholder="Search by user name" #byorder name="byorder" />
  <button mat-button matSuffix mat-icon-button>
    <mat-icon>person_search</mat-icon>
  </button>
</mat-form-field>
<mat-form-field class="searchOrderID">
  <input matInput type="number" (keyup)="searchOrderID(byorderid.value)" class="form-control"
    placeholder="Search by order ID" #byorderid name="byorderid" />
  <button mat-button matSuffix mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
  <button mat-button matSuffix (click)="loadOrders()" matTooltip="reset all filters" mat-icon-button>
    <mat-icon>refresh</mat-icon>
  </button>
<section>
  <mat-checkbox mr-10 #deliverycheck name="deliverycheck" labelPosition="after"
    (change)="useFilter(deliverycheck.checked,orderstatuscheck.checked)">- delivered?
  </mat-checkbox>

  <mat-checkbox mr-10 #orderstatuscheck name="orderstatuscheck" labelPosition="after"
    (change)="useFilter(deliverycheck.checked,orderstatuscheck.checked)">- received?
  </mat-checkbox>
</section>

<h4 mat-small>{{this.message}}</h4>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let order"> {{order[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let order" [attr.colspan]="columnsToDisplay.length">
      <div class="example-order-detail" [@detailExpand]="order == expandedOrder ? 'expanded' : 'collapsed'">

        <div class="example-order-expand">
          <mat-icon>details</mat-icon> <span>ID - {{order.id}}</span>
        </div>
        <div class="example-order-expand">
          <mat-icon>perm_identity</mat-icon> <span>Name - {{order.name}}</span>
        </div>
        <div class="example-order-expand" [class.no_delivery]="!order.delivery" [class.delivery]="order.delivery">
          <mat-icon>local_shipping</mat-icon><span> Shiping? - {{order.delivery}}</span>
        </div>

        <div class="example-order-expand" [class.no_received]="!order.orderstatus" [class.received]="order.orderstatus">
          <mat-icon>done_outline</mat-icon><span> Received? - {{order.orderstatus}}</span>
        </div>
        <div class="example-order-expand" *ngIf="order.notes">
          <mat-icon>note</mat-icon><span> Notes - {{order.notes}}</span>
        </div>
        <div class="example-order-expand" *ngIf="order.wishes">
          <mat-icon>redeem</mat-icon><span> something from us - {{order.wishes}}</span>
        </div>
        <div class="example-button-row">
          <button mat-raised-button color="accent" (click)="editSelectedOrder(order)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-raised-button color="warn" (click)="deleteSelectedOrder(order)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="lookItems(order.id)">
            <mat-icon>list</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let order; columns: columnsToDisplay;" class="example-order-row" center
    [class.example-expanded-row]="expandedOrder === order" [class.received]="order.orderstatus"
    [class.no_received]="!order.orderstatus" [class.delivery.no_received]="order.delivery&&!order.orderstatus"
    (click)="expandedOrder = expandedOrder === order ? null : order">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

