mat-form-field{
    margin-right: 10px;
}
table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-order-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-order-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-order-row td {
    border-bottom-width: 0;
  }
  
  .example-order-detail {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
    
  .example-order-expand {
    position:relative;
    padding: 5px 10px 5px 10px;
  }
  .example-order-expand mat-icon {
    position:relative;
    padding: 0;
    margin-top: 0;
  }
  .example-order-expand span {
    padding:5px;
  }
  
  .example-order-description-attribution {
    opacity: 0.5;
  }
  .delivery{
      background-color: rgba(89, 187, 23, 0.726);
  }
  .no_delivery{
      background-color: rgba(236, 25, 10, 0.726);
  }
  .received{
      background-color: rgba(88, 209, 88, 0.582);
  }
  .no_received{
      background-color: rgba(211, 83, 74, 0.582);
  }

  .delivery.no_received{
      background-color: rgb(133, 195, 214);
  }

  .example-button-row .mat-button-base {
    margin: 5px;
  }
  
  .mat-header-cell{
      font-size: 17px;
      font-weight: bolder;
      color: purple;
  }

  mat-checkbox{
    margin-right:15px ;
  }
  section{
    display: flex;
  }