<h1 >Perfumes List</h1><br>
<mat-form-field class="searchProd">
  <input matInput type="text" (keyup)="searchPerfume(searchname.value)" class="form-control" placeholder="Search by product name" #searchname name="searchname" />
  <button mat-button matSuffix  mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
<mat-form-field class="searchProd" style="width:250px ;">
  <mat-label>Category</mat-label>
  <mat-select #bycategory name="bycategory">
    <mat-option (click)="searchCategory('')"><small>cancel selection</small></mat-option>
    <mat-option *ngFor="let category of categoryList" value="category" (click)="searchCategory(category)">
    {{category}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="goToCartList()" style="margin-left: 15px;"
[disabled]="this.cart.templateProdList.length==0"
>Your CART</button>

<div class="cards" style="padding: 13px;">
  <mat-spinner *ngIf="this.dataSource.length === 0"></mat-spinner>
  <mat-card cascade="true" class="card" *ngFor="let product of dataSource, let i=index">
    <mat-card-header>
      <mat-card-title>{{product.prodname | uppercase}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="{{ product.urlpicture }}" alt="Photo of a Product" class="view view-cascade overlay">
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
          <b>cost : {{product.cost}} $ </b>
          </mat-panel-title>
          <mat-panel-description>
            more info ...
          </mat-panel-description>
        </mat-expansion-panel-header>
    
    <p>{{product.description}}</p>
      </mat-expansion-panel>
    </mat-card-content>

    <mat-card-actions>
      <button #add{{id}} mat-raised-button color="primary" size="md" ml-3 (click)="addItemToCart(product)"
        *ngIf="!this.cart.findInCart(product)">
        <mat-icon>add_shopping_cart</mat-icon>ADD to Cart
      </button>
      <button #out{{id}} mat-raised-button color="warn" size="md" ml-3 (click)="removeFromCart(product)"
        *ngIf="this.cart.findInCart(product)">
        <mat-icon>add_shopping_cart</mat-icon>Cancel from Cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>


