 h1 {
   text-align: center;
   display: inline;
   font-weight: bolder;
   color: rgb(64, 64, 223);
   margin-left: 10px;
 }

 .cards {
   justify-content: center;
   display: inline-flex;
   flex-wrap: wrap;
  
 }

 mat-card {
   position: relative;
   margin: 5px;
   max-width: 320px;
   min-width: 280px;
    background:  linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.5));
 }

 mat-card-actions {
   text-align: center;
 }

 mat-form-field {
   margin-right: 15px;
 }

mat-select mat-option {
   text-align: center;
   justify-content: center;
 }

 .mat-raised-button:hover {
  transition: 1s;
  opacity: 0.5;
}
.mat-mini-fab:hover{
  transition: 1s;
  transform: scale(1.1);
}