a {
  margin: 0 5px 5px 10px;
}

div {
  color: white;
}

.mat-flat-button:hover {
  transition: 1s;
  opacity: 0.5;
}

div {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px;
  background-color: rgb(63 81 181);
}
