.exemple-form {
  min-width: 420px;
  margin-left: 15px;
}

.example-part-width {
  margin: 10px;
  width: 100%;
}

mat-checkbox {
  margin-right: 15px;
}

h1 {
  text-align: center;
  display: inline;
  font-weight: bolder;
  color: rgb(64, 64, 223);
  margin-left: 10px;
}
