
.example-card {
  max-width: 400px;
  margin-left: 15px;
  overflow: auto;
}

::ng-deep .mat-grid-tile .mat-figure {
  display: inline-block !important;
}

.example-part-width {
  margin: 10px;
  display: inline;
}

h1{
  text-align: center;
  display: inline;
  font-weight: bolder;
  color:rgb(64, 64, 223);
margin-left: 10px;
}
mat-grid-tile{
  overflow: auto;
  margin: 5px;
  padding: 3px;
}
mat-grid-tile button{
  margin-bottom: 10px;
}